/* CSS Document */

.factile,
.factile-abstract { font-size:0; }

.factile {
	background-color: #ffffff;
	border-bottom:10px solid #f0f0f0;
	border-right:1px solid #e7e7e7;
	color:#595d61;
	display:inline-block;
	font-family:'clearview', Arial, Helvetica, sans-serif;
	font-size: 0;
	height: 266px;
	overflow:hidden;
	padding-right:6px;
	position:relative;
	width: 195px;
	vertical-align:top;
}

.factile .factile-header {
	height:60px;
	position:relative;
}

.factile .factile-header h1 {
	bottom:0;
	color:#595d61;
	font-size:14px;
	left:0;
	margin:0 5px 10px;
	overflow:hidden;
	position:absolute;
	width:165px;
}

.factile .factile-header .header-image {
	bottom:0;
	margin: 0 5px 10px 0;
	position:absolute;
	right:0;
}

.factile .factile-category {
	height:4px;
}

.factile .factile-body { font-size:11px; }

.factile-abstract .abstract-image,
.factile-abstract .abstract-info {
	display: inline-block;
	vertical-align: top;
}

.factile-abstract .abstract-image {
	height:34px;
	overflow:hidden;
	width:34px;
}

.factile-abstract .abstract-image img { max-width:34px; }

.factile-abstract .abstract-info {
	font-size:11px;
	margin:4px 0 0 2px; 
	width:155px;
}

.factile-abstract .abstract-info dt {
	display:inline-block;
	text-transform:uppercase;
	margin:0 1px;
}

.factile-abstract .abstract-info dd {
	display:inline-block;
	margin:0 1px;
}

.factile .factile-body { padding: 4px; }
.factile .factile-body p { margin:0 0 10px; }

.factile-actions {
	background-color: rgba(0,0,0,0.75);
	bottom: 0;
	display:none;
	height: 30px;
	left: 0;
	position: absolute;
	width: 100%;
}

.mini-expand {
	bottom: -5px;
	position: absolute;
	right: -5px;
}

/* mini factile */
.mini-factile-container {
	background-color: #F0F0F0;
	padding-bottom: 6px;
}

.mini-factile {
	background-color:#ffffff;
	display: inline-block;
	font-size: 0;
	margin: 5px 42px 5px 0;
	width: 160px;
}

.mini-factile-avatar {
	display: inline-block;
	margin-right: 6px;
	overflow: hidden;
	width: 34px;
}

.mini-factile-content {
	display: inline-block;
	font-family:'clearview', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	width: 120px;
	vertical-align: top;
}

.mini-factile-content * {
	color:#333333;
	font-size: 12px;
	line-height: 12px;
	vertical-align: top;
}

.mini-factile-content strong {
	font-family: 'clearview-bold-light', Arial, Helvetica, sans-serif;
	letter-spacing:-1px;
}
.mini-factile-content span { display:block; }

/* mini factile styles */
.factile.mini {
	box-shadow: 0 0 2px #CCC;
	cursor: hand;
	cursor: pointer;
	height: 65px;
	margin: 4px;
	padding: 0;
	width: 74px;
}

.factile.mini .factile-header {
	height: 61px;
	width: 100%;
	position: relative;
}

.factile.mini .factile-header h1 {
	font-size: 11px;
	margin: 5%;
	width: 90%;
}

.factile.mini .factile-full,
.factile.mini .header-image { display:none; }

.factile.ui-state-disabled { opacity: 1; }

/* factile containers */

#available-factiles { white-space:nowrap; }

.scroll-wrapper {
	border: 1px solid #eeeeee;
	margin: 5px 1% 5px 0;
	overflow:auto;
	padding: 6px 1%;
	width: 97%;
}

#selected-factiles {
	border: 1px solid #eeeeee;
	margin:6px 16px;
	padding:6px;
	width: 166px; 
}

.factile-container * { white-space:normal; }
.factile-container > span {
	border: 1px dashed #DDD;
	color: #CCC;
	display: inline-block;
	font-family: 'clearview';
	font-size: 12px;
	margin: 4px 4px 5px;
	padding: 15px 5px;
	text-align: center;
	text-transform: uppercase;
	width: 63px;
}

.factile-container.container-hover .placeholder { border-color:#fcb314; }

.factile-container.ui-state-highlight {
	border-color:#7cc6ff;
	background-color:#eaf7ff;
	background-image:none;
}